body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /*color: var(--tg-theme-text-color);*/
    /*background: var(--tg-theme-bg-color);*/
    background: url(psychology-of-design-color-black-featured.jpg) no-repeat center / cover;
}

.container1 {
    max-width: 390px;
}

.inner1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img1 {
    width: 130px;
    height: 100px;
    object-fit: contain;
}

.item1 {
    text-align: center;
}

.btn1 {
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(95, 95, 89);
    border-radius: 0;
    color: #fff;
    /*text-transform: uppercase;*/
    font-weight: 700;
    transition: background .2s linear;
}

.btn1:hover {

    background: lightgreen;
}

.usercard {
    text-align: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: rgba(47, 45, 45, 0.79);
    font-weight: 500;
}

.ft_title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-left: 45px;
    font-size: 15px;
    color: rgba(29, 29, 29, 0.53);
    font-weight: 500;
}

.ft_title a {
    color: rgba(45, 45, 45, 0.86);
    text-decoration: None;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container_base {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 250px;
    display: flex;
    justify-content: center;
}

.exit a {
    margin-left: 100px;
    color: red;
    text-decoration: None;
    font-family: 'Roboto Condensed', sans-serif;
}

.checkbox-btn {
    display: inline-block;
    margin: 0 5px 0 0;
    user-select: none;
    position: relative;
}

.checkbox-btn input[type=checkbox] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-btn span {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    line-height: 30px;
    border: 1px solid #ffc107;
    border-radius: 15px;
    transition: background 0.2s ease;
    background: #ffc107;
    color: white;
}

.btn2 {
    color: white;
}

.btn2:hover {
    color: white;
}

/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
    background: #198754;
    border: 1px solid #198754;

    color: rgb(255, 255, 255);
}

.checkbox-btn input[type=checkbox]:checked + span {

}

.c {
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    font-size: var(--bs-btn-font-size);
    font-family: var(--bs-btn-font-family);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    border: 1px solid #ffc107; /* Рамка */
    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: white; /* Цвет текста */
    background: #ffc107;
    text-align: center;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sel{
    border-radius: 13px;
}

/*var(--tg-theme-bg-color)*/
/*var(--tg-theme-text-color)*/
/*var(--tg-theme-hint-color)*/
/*var(--tg-theme-link-color)*/
/*var(--tg-theme-button-color)*/
/*var(--tg-theme-button-text-color)*/

