{% load static from static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- <--Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-outline-warning mx-5" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="title">Hi Staff: {{ user }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'store:create_sku' %}" class="btn text-capitalize dropdown-item">
                                    Добавить СКЮ
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'store:create_trade' %}" class="btn text-capitalize dropdown-item">
                                    Добавить ЧП Магазина
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'store:create' %}" class="btn text-capitalize dropdown-item">
                                    Добавить Тереторию
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'store:create_detail' %}" class="btn text-capitalize dropdown-item">
                                    Добавить Детализацию
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'users:sign_out' %}">Выйти</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <br>
    {% block content %}
    {% endblock %}

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <p class="ft_title text-center">Powered by <a class="text-warning" href="https://t.me/mgulyamov">Gulyamov</a>
                    and
                    <a class="text-warning" href="https://t.me/Bomuratov">Bomuratov</a></p>
            </div>
        </div>
    </div>



    <!-- {# <---JavaScripts-->
    <script href="{% static 'app.js' %}"></script>

    {# Библиотека JQuery #}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {# Библиотека JQuery #}

    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.esm.js' %}"></script>

    <!-- Фреймворк Bootstrap5 -->
    <!-- {#
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" #} {#
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" #} {#
        crossorigin="anonymous"></script>#}
    {#
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" #} {#
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" #} {#
        crossorigin="anonymous"></script>#} -->
    <!-- Фреймворк Bootstrap5 -->
    {#<-!--- JQuery код для Select2 -->#}
        <script>
            $(document).ready(function () {
                $('#id_trade').select2();
                placeholder: $(this).data('Trade');
            });
            $(document).ready(function () {
                $('#id_territory').select2();
            });
            $(document).ready(function () {
                $('.form-select').select2();

            });

        </script>
        {#<-!--- JQuery код для Select2 -->#}
            {#<---------------- Icons pack----------------------->#}
                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>